:root{
    --font:sans-serif;
    --background:black;
    --color:white;
}
* {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    background: var(--background);

    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    height: 100vh;
}

h1 {
    color: var(--color);
    text-align: center;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}

p {
    color: var(--color);
    text-align: center;
    width : 80%;
    max-width: 80%;
}

button {
    background: var(--color);
    color: var(--background);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;

    margin: 3rem;
}

video {
    height: 90%;
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}
video::-webkit-media-controls-play-button {}
video::-webkit-media-controls-timeline {}
video::-webkit-media-controls-current-time-display{}
video::-webkit-media-controls-time-remaining-display {}
video::-webkit-media-controls-mute-button {}
video::-webkit-media-controls-toggle-closed-captions-button {}
video::-webkit-media-controls-volume-slider {}