
@font-face {
    font-family: 'Merchant Copy Wide';
    src: url('../font/MerchantCopyWide.eot');
    src: url('../font/MerchantCopyWide.eot?#iefix') format('embedded-opentype'),
        url('../font/MerchantCopyWide.woff2') format('woff2'),
        url('../font/MerchantCopyWide.woff') format('woff'),
        url('../font/MerchantCopyWide.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    --font:serif;
    --background:rgb(255, 245, 234);
    --color:rgb(0, 0, 0);
}

* {
    scroll-behavior: smooth;

}

body {
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    height: 100vh;
}

#home {
    height: auto !important;
}

h1 {
    color: var(--color);
    text-align: center;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-family: 'Merchant Copy Wide';
}

p {
    color: var(--color);
    text-align: center;
    width : 80%;
    max-width: 80%;
    font-size: 0.9rem;
}
    


button {
    background: var(--color);
    color: var(--background);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;

    margin: 3rem;
}

video {
    height: 90%;
}

img {
    width: 17rem;
    height: 17rem;
    background-color: var(--background);
}